<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         testdox="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="coverage/clover.xml" />
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing" />
        <env name="APP_KEY" value="base64:czgLGZtXBtNLFw2+6939JIJiiF0Mdf02vzsZJtSYns8=" />
        <env name="DB_CONNECTION" value="mysql" />
        <env name="DB_DATABASE" value="code4_cms_tests" />
        <env name="DB_USERNAME" value="root" />
        <env name="DB_HOST" value="127.0.0.1" />
        <env name="DB_PORT" value="3306" />
    </php>
</phpunit>
