img[lazyload] {
    transition: opacity 200ms;
    display: block;
    opacity: 1;
}

img[lazyload][data-src]:not([src^='data:image']),
img[lazyload][data-srcset]:not([src^='data:image']) {
    opacity: 0;
}
